 # Ignore Node.js modules
frontend/node_modules/

# Ignore build files
frontend/build/
frontend/dist/

# Ignore Python/Django files
backend/venv/
backend/__pycache__/
backend/*.sqlite3
backend/staticfiles/
backend/media/

# Ignore editor files
.vscode/
.idea/

